<form #miForm="ngForm">
  <p>
    Código:
    <ng-container *ngIf="modo==='add'">
      <input type="number" name="id" id="id" [(ngModel)]="elemento.id" #id="ngModel"
        required>
      <span class="error" [hidden]="!id.hasError('required') || miForm.pristine">Es obligatorio</span>
    </ng-container>
    <ng-container *ngIf="modo!=='add'">
      {{elemento.id}}
    </ng-container>
    <br>
    Nombre:
    <input type="email" name="nombre" id="nombre" [(ngModel)]="elemento.nombre" #nombre="ngModel"
      required minlength="2" maxlength="10" uppercase email>
    <span class="error" [hidden]="!nombre.errors?.required">Es obligatorio</span>
    <span class="error" [hidden]="!nombre?.errors?.minlength && !nombre?.errors?.maxlength">
      Debe tener entre 2 y 10 letras</span>
      {{nombre?.errors | json}}
    <br>
    Apellidos:
    <input type="text" name="apellidos" id="apellidos" [(ngModel)]="elemento.apellidos" #apellidos="ngModel"
      minlength="2" maxlength="10" nif validateEqual="nombre">
    <span class="error" [hidden]="!apellidos?.errors?.minlength && !apellidos?.errors?.maxlength">
      Debe tener entre 2 y 10 letras</span>
      {{apellidos?.errors | json}}
    <br>
    Edad:
    <input type="number" name="edad" id="edad" [(ngModel)]="elemento.edad" #edad="ngModel"
      min="16" max="67">
    <span class="error" [hidden]="!edad?.errors?.min && !edad?.errors?.max">
      Debe tener entre 16 y 67 años</span>
      {{edad?.errors | json}}
  </p>
  <p>
    <input type="button" value="Enviar" [disabled]="miForm.invalid" (click)="send()">
    <input type="button" value="Volver" (click)="cancel()">
  </p>
</form>
<p>
  <input type="button" value="Añadir" (click)="add()">
  <input type="button" value="Editar" (click)="edit()">
  <input type="button" value="Listar" (click)="list(0)">
</p>
<ul>
  <li *ngFor="let item of listado">{{item.nombre}} {{item.apellidos}}</li>
</ul>
<app-pagination-bar [page]="page" [totalpages]="totalPages" (select)="list($event)"></app-pagination-bar>
